/node_modules
/.env
/dist/
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.swo
*.swp
*.swx
*.tar.gz
*.zip
*.sql
*.sqlite
*.tar
*.tgz
*.tmp
*.temp
*.cache
*.bak
*.backup
.DS_Store
Thumbs.db
ehthumbs.db
*.db-journal
*.sublime*
*.sln
*.user
*.userprefs
*.unity
*.vs
*.vscode
*.nupkg
*.ser
